
@font-face{
    font-family: AlexBrush;
    src: url(./Fonts/AlexBrush-Regular.ttf)
}

@font-face{
    font-family: Alcu;
    src: url(./Fonts/Alcubierre.otf)
}




.branding{
    font-size: 200%;
}

.header{
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: left;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 140%;   
    height: 120px
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    position: relative;
}

.item {
    margin: auto;
}

.link{
    font-size: 1.2rem;
    font-weight: 200;
    color: #000000;
}

.link:hover{
    color: rgb(218, 94, 94);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 110px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.menu.active {
    left: 0;
}

.item {
    margin: 1.5rem;
}

.menuBars {
    display: block;
    cursor: pointer;
}

.menuBars.active .bar:nth-child(2) {
    opacity: 0;
}

.menuBars.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menuBars.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header img{
    width: 140px;
    
}

nav ul {
    position: relative;
    top: 55px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    
}

nav a {
    background-color: unset;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    margin: 20px;
    position: relative;
    left: -25px
}

.a:hover{    
    text-decoration: none;
    color: rgb(200, 95, 241);
}

.b:hover{
    text-decoration: none;
    color: rgb(218, 94, 94);
}

.c:hover{
    text-decoration: none;
    color: rgb(107, 217, 245);
}



.main-image-container {
    background-image: url("./Images/Beach.jpeg");
    height: 90vh; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    z-index: -10;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: contain;
    -o-background-size: contain;
    
  }

  .second-image-container {
    background-image: url("./Images/kitchen.jpeg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    z-index: -10;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;

    
  }

  @media screen and (max-width: 860px){
    .main-image-container{
        background-image: url("./Images/backyard.png");
        background-attachment: initial;
        height: 400px
    }

    .second-image-container {
        background-attachment: initial;
        height: 300px
    }
    
}




.about-container{
    font-family: Alcu;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.about{
    width: 70%
}

.about h4{
    font-size: 90%;
    margin: 10px
}

.about p{
    font-size: 70%;
}

.quote{
    font-style: italic;
    font-size: 200%;
    font-family: cursive;
}

.dreams{
    color: rgb(200, 95, 241);
}

.realities{
    color: rgb(218, 94, 94);

}

.break{
    margin: 40px;
    width: 30%;
    
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: Alcu;
}

.services-container h3{
    font-weight: bolder;
}

.services-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%
}

.service{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    box-shadow: 1px 1px 5px 1px rgba(180, 180, 180, 0.637);
    border-radius: 5px;
    margin: 15px;
    align-items: center;
    font-size: 90%;
    padding: 10px


}

.service h4{
    font-size: 20px;
    font-family: "Abril Fatface";
    
}

.service p{
    width: 90%;
    position: relative;
    top: 10px;

}

.projects-container{
    font-family: Alcu;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.projects-container h3{
    font-weight: bolder;
}

@media screen and (max-width: 1000px){
    .services-box{
        flex-direction: column;
    }
    .service{
        width: 90%;
        /* padding: 10px */
    }

    .service p{
        width: 90%
    }
    
}


.g-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
  }
  
  .gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .gallery-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    /* cursor: pointer; */
    transition:.5s ease-in-out;
  }
  
  .gallery-item:hover .image img{
    transform: scale(1.5);
  }
  
  .gallery-item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
  }
  
  .gallery-item:hover .text{
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
  }
  
  .w-1{
    grid-column: span 1;
  }
  
  .w-2{
    grid-column: span 2;
  }
  
  .w-3{
    grid-column: span 3;
  }
  
  .w-4{
    grid-column: span 4;
  }
  
  .w-5{
    grid-column: span 5;
  }
  
  .w-6{
    grid-column: span 6;
  }
  
  .h-1{
    grid-row: span 1;
  }
  
  .h-2{
    grid-row: span 2;
  }
  
  .h-3{
    grid-row: span 3;
  }
  
  .h-4{
    grid-row: span 4;
  }
  
  .h-5{
    grid-row: span 5;
  }
  
  .h-6{
    grid-row: span 6;
  }
  
  @media screen and (max-width:600px){
    .g-container{
      grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
    grid-column:span 1;
    }
    
    .h-1,.h-2,.h-3,.h-4,.h-5,.h-6{
    grid-row: span 2;
    }
  }
  
  
  
  @keyframes move-down{
  
    0%{
      top: 10%;
    }
    50%{
      top: 35%;
    }
    100%{
      top: 50%;
    }
  }


.contact-container{
    font-family: Alcu;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.detailsDiv{
    margin-bottom: 20px;
}
.contactMe{
    text-decoration: none;
    color: black;
   
    
}

.contactMe:hover{
    text-decoration: none;
    color: rgba(147, 69, 179, 0.753);
}
  
.icons{
    margin-bottom: 30px;
}

.icons ul {
    margin:0;
    padding:0;
    display:flex;
}
  
.icons ul li {
    list-style: none;
}

.icons ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.icons ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

.icons ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
}

.icons ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.icons ul li:nth-child(2) a:hover .fab {
    color: #007bb6;
}

.icons ul li:nth-child(3) a:hover .fab {
    color: #e4405f;
}

